In [1]:
import pandas as pd

Use SID to determing value of n as per instructions

In [2]:
n = 7 #SID is 1012767

Read adult_data_mini.csv file

In [3]:
data = pd.read_csv('adult_data_mini.csv', header = 0)

Group by Relationship & Hours per Week

In [4]:
group_by_relationship = data.groupby(['relationship','hours-per-week'])

Put the output into a Data Frame using Unstack

In [5]:
group_by_relationship_df = group_by_relationship.size().unstack

Display new Data Frame of Grouped Data

Define a function to reduce hours-per-week by the value of n

In [7]:
def reduce_by_n(x):
    if x - n < 0: x = 0
    else: x - n
    return x

Apply this function to the data

In [8]:
data['reduced_hours'] = data['hours-per-week'].apply(reduce_by_n)

Repeat the grouping process but now group the data by relationship and reduced_hours

In [9]:
group_by_relationship2 = data.groupby(['relationship','reduced_hours'])

In [10]:
group_by_relationship2 = group_by_relationship2.size().unstack

Display Results

In [11]:
group_by_relationship2

<bound method Series.unstack of relationship   reduced_hours
Husband        13               1
               40               4
               45               1
               80               1
Not-in-family  16               1
               40               2
               50               2
Own-child      30               1
Wife           40               2
dtype: int64>